	@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Pacifico|Permanent+Marker&display=swap');
	div{border: solid 1px black;
		background-color:#60606060;
		
		}
	
	body{
		font-family: arial;
		line-height: 1.2em;
		font-size: 1.2em;
	}
	h1{
		color: green; 
		text-align: center;
		margin-bottom:6px;
		margin-top:5px;
		font-family: 'Pacifico', cursive;
	}
	h2{
		color: yellow;
		text-align: center;
		margin-bottom:5px;
		margin-top:10px;
		font-family: 'Permanent Marker', cursive;
	}
	#titulo{
		font-family: 'Permanent Marker', cursive;
		font-size:2em;
		margin-top: 8px;
	}
	img{
		width:100%;
	}
